@font-face {
  font-family: 'PingFangSC-Semibold';
  src : url('./PingFang-Bold.ttf');
}
*{
  margin: 0;
  padding: 0;

}
html{
  font-size:13.33333333vw*2;
}
html, body {
  height:100%;
}

input {
  width: 2.16rem;
  border-radius:0.25rem;
  height: 0.5rem;
  border: none;
  padding: 0 0.3rem;
  font-size: 0.15rem;
  font-weight:600;
  font-family: 'PingFangSC-Semibold';
}
@media screen and (min-width:767px) {
  html{
    font-size:13.33333333vw * 1.5;
  }
  .login .toLogin {
    left: 0.8rem!important;
  }
}